.rvmrc
.bundle
.DS_Store
.tm_properties
resque.pid
rails_best_practices_output.html
db/*.sqlite3
log/*.log
log/*.log.lck
tmp/**/*
db/schema.rb
db/sphinx
config/database.yml
config/redis.yml
config/ey_services_config_deploy.yml
vendor/cache
vendor/bundle
public/assets/*
doc/*
!doc/files
!doc/default
coverage
